fastapi
uvicorn
langchain-huggingface
pypdf
sentence-transformers
faiss-cpu
numpy
transformers
langchain-community
langchain-core
langchain-classic
torch
python-multipart
requests
sentencepiece
dotenv
langchain_nvidia_ai_endpoints